/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/

### Docker ###
/docker/mysql/data/*
!/docker/mysql/data/.gitkeep
/docker/mysql/logs/*
!/docker/mysql/logs/.gitkeep

/docker/webserver/logs/*
!/docker/webserver/logs/.gitkeep
/docker/webserver/html/*
!/docker/webserver/html/index.php
